<div class="users-list">
 <div class="single-user">
<div class="user-image"></div>
<div class="user-data">
<div class="user-username"><%= @posts[0].user_name %></div>
<div class="user-posts">number of posts: 
<% if @posts[0].user_posts_counter.to_i > 0 %>
  <%= @posts[0].user_posts_counter %>
<% else %>
  0
<% end %>
</div>
</div>

</div>
<% @posts.each do |post| %>
  <a href='/users/<%= post.user_id %>/posts/<%= post.id %>' class='user-link'><div class="single-post">
<h3>
Post #<%= @posts.index(post)+1 %>
</h3>
<p><%= post.text %></p>
<p style="socials">comments:<% if post.comments_counter.to_i > 0 %>
  <%= post.comments_counter %>
<% else %>
  0
<% end %>
, likes :<% if post.likes_counter.to_i > 0 %>
  <%= post.likes_counter %>
<% else %>
  0
<% end %> 
</div><div class="single-post">
<h3>
Comments
</h3>
<% post.recent_comments.each do |comment|%>
<%= comment.author.name %>: <%= comment.text %> <br>

<% end %></div>
</a>
<% end %>
