<div class="users-list">
 <div class="single-post"> 
 Post: <%= @post.title %> Created by <%= @post.author.name %> | comments:<% if @post.comments_counter.to_i > 0 %>
  <%= @post.comments_counter %>
<% else %>
  0
<% end %>
, likes :<% if @post.likes_counter.to_i > 0 %>
  <%= @post.likes_counter %>
<% else %>
  0
<% end %> <br><br>
<%= @post.text %> <br>

</div>
<div class="single-post">
<h3>
Comments
</h3>
<% @post.all_comments.each do |comment|%>
<%= comment.author.name %>: <%= comment.text %> <br>

<% end %>
</div>
<div class="users-list">
 <div class="single-post"><center><h1>Add comment as <%= @user.name %></h1></center>
<%= form_for @comment, url:comments_path do |f| %>
  <%= f.hidden_field :author_id, value: @post.author.id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label :text %><br />
  <%= f.text_area :text, placeholder:'Add your Comment' %><br />
  <%= f.submit "Submit comment", class:'btn', disable_with: 'Submiting Comment...' %>
<% end %>
 </div>
  </div>

    <div class="users-list">
 <div class="single-post"><center><h1>Click Heart Below To Add Like<br>
<%= image_tag '/assets/heart.png', :style => "height:60px;width:60px;"%></center>
<%= form_for @like, url:likes_path do |f|%>
  <%= f.hidden_field :author_id, value: @post.author.id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit "Like", disable_with: 'updating likes...' %>
<% end %>
 </div>
 </div>
 </div>
